//header
@import '../../assets//scss/layout.scss';

.social-media{
  display: flex;
  justify-content: flex-end;
  transition: .4s ease-in;
  .icon{
      text-decoration: none;
      color: #fff;
      font-size: 24px;
      border: 2px solid #FFF8E5;
      border-radius: 50%;
      padding: 8px 12px;
  }
  a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
  }
  :hover{
    transform: translateY(-2px);
    .icon{
      color: #000;
      background-color: #fff;
    }
  }
}

//nav

.nav{
  padding: 8px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  box-sizing: border-box;
  height: 9vh;
  min-width: 80px;
  width: 100%;
  transition: .3s;
  background: transparent;
  z-index: 1;
  padding: 2.5vw 5.5vw;
    .nav-item{
      display: flex;
      li{
        list-style: none;
        .item{
          margin-right:40px;
          text-decoration: none;
          color: #fff;
          font-family: $primary-font;
          font-size: 14px;
          transition: .4s ease-in-out;
          line-height:16px;
          &:hover:nth-last-child(1){
            border-bottom: 4px solid #fff;
          }
        }
      }
      i{
        cursor: pointer;
        color: #fff;
      }
    }
    .search{
      margin-right: 20px;
     
    }
    .search-bar{
      width: 100%;
      display: flex;
      justify-content: flex-end;
      position: relative;
      input{
        width: 30vw;
        height: 40px;
        outline: none;
        border: none;
        border-radius: 10px;
        padding: 14px;
        font-family: $primary-font;
        font-size: 14px;
      }
      span{
        position: absolute;
        top: 8px;
        right: 0;
        cursor: pointer;
      }
    }
  
    &.scrolled {
      box-shadow: 0 4px 16px rgba(70, 71, 72, 0.7);
      background: #554432;
      z-index: 100;
    }
    .dropdown{
      position: relative;
      display: inline-block;
      cursor: pointer;
      .dropdown-content{
        position: absolute;
        min-width:10rem;
        display: none;
        padding: 4px 0;
        border: .1px solid #cecece;
        border-radius: 5px;
        background: #fff;
        top: 25px;
        right: -15px;
        .sub-item{
          text-decoration: none;
          color: black;
          width: 100%;
          text-align: center;
          transition: .4s ease-out;
          padding: 8px;
          &:hover{
            background-color: #cecece;
          }
        }
      }
      &:hover{
        .dropdown-content{
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
    }
    .active {
        border-bottom: 4px solid #fff;
    }
}

//responsive nav-bar

@media(max-width:600px){
  .nav{
    .nav-item{
      li{
        display: none;
      }
      .menu{
        display: block;
      }
    }
    .dropdown{
      .dropdown-content{
        right:-48px;
        min-width: 7rem;
      }
    }
    .search-bar{
      input{
        width: 50vw;
      }
    }

  }
}

//footer

.footer{
    padding: 10vh 7.5vw 2vh;
    background: linear-gradient(90deg, rgba(50, 47, 44, 0.18) -4.42%, rgba(151, 121, 91, 0.9) 107.91%), url('../../assets/images/footerImage.jpg');
    background-blend-mode: multiply, normal;
    backdrop-filter: blur(39px);
    a{
      font-size: 16px;
      color: #fff;
      margin-bottom: 16px;
    }
    .footer-top{
      margin-bottom: 5vh;
      .footer-top-title{
        font-family: $secondary-font;
        font-style: normal;
        font-weight: 800;
        font-size: 48px;
        line-height: 48px;
        letter-spacing: 1px;
        text-transform: capitalize;
        color: #FFFFFF;
        position: relative;
        &::after{
          content: "";
          position: absolute;
          border-bottom: 5px solid #fff;
          width: 100px;
          bottom:-12px;
          left: 50%;
          transform: translate(-50%);
        }
      }
      .footer-top-info{
        font-family: $primary-font;
        text-align: center;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 28px;
        width: 67%;
        letter-spacing: 0.75px;
        color: #fff;
      }
      .email-field{
        width: 100%;
        input{
          width: 60%;
          outline: none;
          font-size: 16px;
          font-family: $primary-font;
          &::placeholder{
            font-family: $primary-font;
            font-size: 16px;
          }
        }
        .send-email-btn{
          padding: 14px !important;
          border-radius: 0px;
        }
      }
    }
    .footer-bottom{
      color: #fff;
      .row{
        display: flex;
        flex-direction: column;
        font-family: $primary-font;
        .footer-title{
          margin-bottom: 24px;
          font-family: $primary-font;
          font-style: normal;
          font-weight: bold;
          font-size: 18px;
        }
        .contact-info{
          .info{
              margin-bottom: 16px;
              font-family: $primary-font;
            .contacts{
              margin-right: 16px;
            }
          }
        }
      }
    }
    
}

.last-footer{
  height: 35px;
  background: #554432;
  color: #FFFFFF;
  font-family: $primary-font;
  font-size: 16px;
}

.back-to-top{
  position: fixed;
  bottom: 20px;
  right: 5px;
  background: #554432;
  margin-bottom: 20px;
  border-radius: 50%;
  color: #ffff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  z-index: 55;
  cursor: pointer;
}

@media(max-width:820px){
  .footer{
    .footer-top{
      text-align: center;
    }
    .footer-bottom{
      flex-direction: column;
      .row{
        .logo{
          text-align: center;
        }
        .footer-title{
          margin-top: 20px;
          text-align: center;
        }
        .contact-info{
          .info{
            justify-content: center;
          }
          .social-media{
            justify-content: center;
          }
        }
      }
    }
    .title{
      text-align: center;
    }
  }
}