//header
@import '../../assets//scss/layout.scss';

.header{
    display: flex;
    justify-content: space-between;
    border-bottom: .1px solid #cecece;
    height: 100px;
    padding: 8px;
    align-items: center;
    background: #fafafb;
    .logo {
        p {
            cursor: pointer;
            position: relative;
            display: inline-block;
            font-size: 3rem;
            background: linear-gradient(to bottom, #000, #000 60%, #fff 60%, #fff 100%);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            background-repeat: no-repeat;
            transition: background 0.2s ease-out;
            white-space: nowrap;
          }
          
          span {
            position: relative;
          }
          
          span:before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            height: 15px;
            background: #000;
            bottom: 9px;
            transition: all 0.2s ease-out;
          }
          
          p:hover {
            background-position: 0 11px;
          }
          
          span:hover:before {
            transform: translateY(20px)
          }
      }
    .social-media{
        display: inline-block;
        a{
            text-decoration: none;
            margin-right: 10px;
            color: #000;
            font-size: 20px;
        }
    }
}

//responsive header

@media(max-width:450px){
  .header{
    justify-content: center;
    .social-media{
      display: none;
  }
  }
}

//nav

.nav{
  padding: 8px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  box-sizing: border-box;
  height: 9vh;
  min-width: 80px;
  width: 100%;
  transition: .3s;
  background: transparent;
  z-index: 1;
    .nav-item{
      display: flex;
      li{
        list-style: none;
        .item{
          margin-right:40px;
          text-decoration: none;
          color: #000;
          transition: .4s ease-in-out;
          &:hover:not(:nth-child(3)){
            border-bottom: 1px solid #000;
            border-radius: 5px;
          }
        }
      }
    }
    .nav-icon{
      display: none;
    }
    .search{
      margin-right: 20px;
      i{
        cursor: pointer;
      }
    }
    .search-bar{
      width: 100%;
      position: relative;
      input{
        width: 100%;
        height: 40px;
        outline: none;
      }
      span{
        position: absolute;
        top: 8px;
        right: 0;
        cursor: pointer;
      }
    }
  
    &.scrolled {
      box-shadow: 0 4px 16px rgba(70, 71, 72, 0.7);
      background: #fff;
    }
    .dropdown{
      position: relative;
      display: inline-block;
      cursor: pointer;
      .dropdown-content{
        position: absolute;
        min-width:10rem;
        display: none;
        padding: 8px 0;
        border: .1px solid #cecece;
        border-radius: 5px;
        background: #fff;
        .sub-item{
          text-decoration: none;
          color: black;
          width: 100%;
          text-align: center;
          transition: .4s ease-out;
          padding: 5px;
          &:hover{
            background-color: #cecece;
          }
        }
      }
      &:hover{
        .dropdown-content{
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
    }
    .active {
        border-bottom: 4px solid #000;
        border-radius: 5px;
    }
}

//responsive nav-bar

@media(max-width:450px){
  .nav{
    .nav-item{
      display: none;
    }
    .nav-icon{
      display: contents;
      li{
        list-style: none;
        a{
          color: #000;
        }
      }
    }
    .dropdown{
      .dropdown-content{
        right:-48px;
        min-width: 7rem;
      }
    }
  }
}

