@import '../../../../assets//scss//layout.scss';
//homelayout css 
.home-layout{
    .background-image{
      margin-top: -11vh;
      top: 0;
      background: linear-gradient(106.7deg, rgba(0, 0, 0, 0.9) -2.22%, rgba(0, 0, 0, 0) 62.22%), url('../../../../assets//images//background.png');
      width: 100%;
      height: 100vh;
      background-size: cover;
      background-position: center;
      align-items: flex-end;
      .background-text {
        padding: 0 5.5vw;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        .motto{
          font-family: $primary-font;
          font-style: normal;
          font-weight: bold;
          font-size: 18px;
          line-height: 24px;
          letter-spacing: 0.04em;
          color: #F2F2F2;
        }
        .info{
          font-family: $secondary-font;
          font-style: normal;
          font-weight: normal;
          font-size: 64px;
          line-height: 72px;
          color: #F2F2F2;
          width: 70%;
          padding:10px 0;
        }
        .explore{
          font-family: $primary-font;
          font-style: normal;
          font-weight: bold;
          font-size: 24px;
          line-height: 27px;
          text-transform: uppercase;
          color: #FFFFFF;
          margin-top: 10px;
          .border{
            border: 1px solid #F2F2F2;
            transform: rotate(180deg);
            width: 50px;
          }
        }
      }
      .background-bottom{
        padding: 0 5.5vw;
        .bottom-left{
          .oval{
            border: 1.5px solid #FFFFFF;
            box-sizing: border-box;
            border-radius: 20px;
            width: 28px;
            height: 41px;
            display: flex;
            justify-content: center;
            align-items: center;
            .oval-line{
              border: 1.5px solid #FFFFFF;
              transform: rotate(90deg);
              width: 10px;
              height: 0px;
            }
          }
          .bottom-line{
            border: 1px solid #F2F2F2;
            transform: rotate(-90deg);
            margin-top: 30px;
            width: 55px;
            margin-bottom: 25px;
          }
        }
      }
    }
    .home-content{
      position: relative;
      overflow: hidden;
      .border-bottom-line{
        height: 0px;
        border: 1px solid #404040;
      }
      .square-box-empty-1{
        position: absolute;
        bottom: 95%;
        left: 85%;
        border: 12px solid rgba(214, 196, 179, 0.3);
        box-sizing: border-box;
        transform: rotate(-45deg);
        width: 300px;
        height: 300px;
        z-index: -1;
      }
      .square-box-empty-2{
        position: absolute;
        bottom: 35%;
        left: 90%;
        border: 12px solid rgba(214, 196, 179, 0.3);
        box-sizing: border-box;
        transform: rotate(-45deg);
        width: 184px;
        height: 184px;
        z-index: -1;
      }
      .square-box-filled-1{
        position: absolute;
        width: 450px;
        height: 450px;
        right: 75%;
        top: 23%;
        background: linear-gradient(0deg, rgba(214, 196, 179, 0.3), rgba(214, 196, 179, 0.3));
        transform: rotate(-45deg);
        z-index: -1;
      }
      .square-box-filled-2{
        position: absolute;
        width: 600px;
        height: 600px;
        left: 75%;
        bottom: 31%;
        background: linear-gradient(0deg, rgba(214, 196, 179, 0.3), rgba(214, 196, 179, 0.3));
        transform: rotate(-45deg);
        z-index: -1;
      }
      .story-title{
        font-family: $secondary-font;
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 46px;
      }
      .published-date{
        font-family: $primary-font;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 30px;
        color: #545454;
      }
      .short-description{
        font-family: $primary-font;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 20px;
        color: #252525;
      }
      .story-author{
        font-family: $primary-font;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        color: #545454;
        margin-top: 5px;
      }
      .read-more{
        font-family: $primary-font;
        font-style: normal;
        font-weight: 900;
        font-size: 18px;
        line-height: 27px;
        text-transform: uppercase;
        color: #252525;
        transition: all 0.2s linear 0s;
        position: relative;
        &:before {
          content: "🢆";
          font-size: 18px;
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          left: 75px;
          top: 0;
          opacity: 0;
          height: 100%;
          width: 40px;
          transition: all 0.2s linear 0s;
        }
        &:hover {
          text-indent: -20px;
          
          &:before {
            opacity: 1;
            text-indent: 0px;
          }
        }
      }
      .category{
        background: #C5C5C5;
        border-radius: 8px;
        padding: 8px;
        color: #fff;
        margin-top: 10px;
        text-transform: uppercase;
      }
      .first-info{
        margin-top: 10vh;
        width: 100%;
        padding: 2.5vw 5.5vw;
        .info-title{
          font-size: 56px !important;
        }
        .info-description{
          font-family: $primary-font;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          line-height: 32px;
          width: 40%;
        }
      }
      .featured-story{
        margin-top: 20vh;
        padding: 0 5.5vw;
        .featured-story-list{
          .story-card{
            width: 300px;
            margin-bottom: 20px;
            img{
              filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.08));
              border-radius: 8px;
              width: 270px;
              height: 250px;
            }
          }
        }
      }
      .home-stats{
        margin-top: 20vh;
        padding-right: 5vw;
        position: relative;
        .content-second-image{
            background: linear-gradient(100.89deg, rgba(0, 0, 0, 0.51) -5.8%, rgba(0, 0, 0, 0.55) 104.75%), url('../../../../assets//images//secondBackground.png');
            border-radius: 12px;
            width: 100%;
            height: 500px;
            left: -114px;
            top: 2278px;
            border-radius: 0 12px 12px 0;
            background-position: center;
            background-size: cover;
            .stats{
              color: #FFFFFF;
              width: 60%;
              height: 100%;
              .story-stat{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 8px;
                .stat-number{
                  font-family: $secondary-font;
                  font-style: normal;
                  font-weight: 600;
                  font-size: 64px;
                  text-transform: uppercase;
                  color: #FFFFFF;
                }
              }
            }
        }
        .content-second-info{
          position: absolute;
          top: 75%;
          left: 65%;
          border-radius: 8px;
          background: #F3EEE9;
          line-height: 50px;
          padding: 64px;
          width: 500px;
          height: 250px;
          display: flex;
          align-items: center;
        }
      }

      .featured-categories{
        margin-top: 30vh;
        padding: 0 5.5vw 0 20vw;
        .featured-category-list{
          .category-card{
            width: 300px;
            flex: 0 0 30%;
            position: relative;
            img{
              filter:brightness(60%);
              background: radial-gradient(71.97% 71.97% at 50% 50%, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.6) 100%);
              border-radius: 8px;
              width: 100%;
              height: 350px;
              &:hover{
                animation: fade-out 400ms ease-in forwards;
              }
              @keyframes fade-out {
                0%{
                  filter: brightness(60%);
                }
                50%{
                  filter: brightness(50%);
                }
                100%{
                  filter: brightness(40%);
                }
              }
            }
            .category-name{
              position: absolute;
              top: 50%;
              transform: translateX(-35px);
              left: 50%;
              font-family: $primary-font;
              font-style: normal;
              font-weight: 500;
              font-size: 20px;
              text-transform: uppercase;
              color: #FFFFFF;
            }
          }
        }
      }
      .content-info{
        margin-top: 30vh;
        position: relative;
        margin-left: 5vw;
        .content-image{
            background: linear-gradient(100.89deg, rgba(0, 0, 0, 0.45) -5.8%, rgba(0, 0, 0, 0.15) 104.75%), url('../../../../assets/images/ThirdBackground.jpg');
            border-radius: 12px;
            width: 100%;
            height: 500px;
            left: -114px;
            top: 2278px;
            border-radius: 12px 0 0 12px;
            background-position: center;
            background-size: cover;
        }
        .content-desc{
          position: absolute;
          bottom: 75%;
          right: 60%;
          border-radius: 8px;
          background: #F3EEE9;
          line-height: 50px;
          padding: 64px;
          width: 600px;
          height: 250px;
          display: flex;
          align-items: center;
        }
      }
      .daily-stories{
        margin-top:20vh;
        padding: 0 5.5vw;
        .daily-stories-list{
          .daily-story-card{
            margin-bottom: 35vh;
            position: relative;
            img{
              width: 550px;
              height: 300px;
              filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.08));
              border-radius: 8px;
            }
            .story-info{
              position: absolute;
              top: 75%;
              left: 10%;
              background: #FFFFFF;
              box-shadow: 0px 8px 16px rgba(17, 17, 17, 0.06);
              border-radius: 8px;
              padding: 18px;
              width: 438px;
            }
          }
        }
        .view-btn{
          width: 200px;
          font-family: $primary-font;
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          text-transform: uppercase;
          color: #FFFFFF;
        }
      }
    }
  }

  //responsive

  @media (max-width:1125px) {
    .home-layout{
      .home-content{
        .daily-stories{
          .daily-stories-list{
            flex-direction: column;
            .daily-story-card{
              img{
                width: 100%;
              }
              .story-info{
                width: 90%;
                left: 5%;
              }
            }
          }
        }
        .home-stats{
          .content-second-info{
            left: 0% !important;
          }
        }
      }
      .content-info{
        .content-desc{
          right: 0% !important;
        }
      }
    }
  }

  @media (max-width:900px) {
    .home-layout{
      .home-content{
        .home-stats{
          .content-second-image{
            .stats{
              width: 100%;
            }
          }
        }
        .featured-categories{
          padding: 0 5.5vw; 
        }
      }
    }
  }


  @media (max-width:768px) {
    .home-layout{
      .home-content{
          .featured-categories{
            .featured-category-list{
              flex-direction: column;
              .category-card{
                width: 100%;
                margin-bottom: 10px;
              }
            }
          }
        }
        .content-info{
          .content-desc{
            width: 100% !important;
            font-size: 2.5rem;
          }
        }
        .home-stats{
          .content-second-info{
            width: 100% !important;
            font-size: 2.5rem;
          }
        }
      }
    }



@media (max-width:700px) {
  .home-layout{
    .background-image{
      .background-text {
        .info{
          width: 100%;
        }
      }
    }
  }
}

@media (max-width:683px) {
  .home-layout{
    .home-content{
        .featured-story{
          .featured-story-list{
            .story-card{
              width: 100%;
              img{
                width: 100%;
              }
            }
          }
        }
      }
      .content-info{
        .content-desc{
          font-size: 2.2rem;
          padding: 42px !important;
          height: 200px !important;
        }
      }
      .home-stats{
        .content-second-info{
          font-size: 2.2rem;
          padding: 42px !important;
          height: 200px !important;
        }
      }
    }
  }

@media (max-width:575px) {
  .home-layout{
    .home-content{
      .home-stats{
        .content-second-image{
          .stats{
              flex-direction: column;
              height: 75%;
              .story-stat{
                .stat-number{
                  font-size: 3rem;
                }
              }
          }
        }
      }
    }
  }
}

@media (max-width:435px) {
  .home-layout{
    .background-image{
      .background-text {
        .info{
          font-size: 3.4rem;
          line-height: 54px;
        }
        .explore{
          font-size: 20px;
        }
      }
    }
    .home-content{
      .first-info{
        flex-direction: column;
        .info-title{
          width: 100%;
          margin-bottom: 10px;
        }
        .info-description{
          width: 100%;
        }
      }
      .content-info{
        .content-desc{
          padding: 16px !important;
          height: auto !important;
        }
      }
      .home-stats{
        .content-second-info{
          padding: 16px !important;
          height: auto !important;
        }
      }
    }
  }
}